openapi: 3.1.0
info:
  title: UQ Status API
  version: '2.0'
  summary: Keyless read-only JSON, RSS and SVG feeds for the University of Queensland IT service status page.
  description: >-
    The University of Queensland's Information Technology Services publishes the operational status of
    678 institutional systems across 43 service categories at status.its.uq.edu.au, and serves that
    same data as machine-readable JSON, RSS and SVG alongside the HTML page. Every endpoint below was
    fetched live and keylessly on 2026-08-30 and returned HTTP 200.

    OPERATOR NOTE. The host is under the university's own registrable domain (uq.edu.au), the
    deployment is run by UQ ITS, and the content is UQ's own service inventory, so this is an
    institution-operated surface, not a vendor contract running under the institution's name. The
    response *format* is that of cState 5.3 (`cStateVersion` / `apiVersion` in the payload), an
    open-source static status-page generator that UQ self-hosts. That is a platform choice, not an
    outsourced service: unlike Figshare, Elsevier Pure or Ex Libris, no vendor operates this endpoint
    on UQ's behalf. This document was written by API Evangelist from live probed responses; UQ does
    not publish an OpenAPI for it.
  contact:
    name: UQ Information Technology Services
    url: https://status.its.uq.edu.au/
  license:
    name: Not stated
    url: https://www.uq.edu.au/legal/copyright-privacy-disclaimer/
  x-operator: institution
  x-operator-evidence: >-
    status.its.uq.edu.au is under uq.edu.au, the institution's own registrable domain; the page
    identifies UQ ITS as the operator and lists only UQ systems.
  x-platform: cState 5.3 (open-source, self-hosted by UQ ITS)
  x-provenance:
    method: derived
    source: https://status.its.uq.edu.au/index.json
    generated: '2026-08-30'
    note: >-
      Derived by API Evangelist from live keyless responses observed on 2026-08-30. Paths, status
      codes, media types and schema fields are transcribed from actual responses; nothing is inferred
      beyond what was returned.
servers:
  - url: https://status.its.uq.edu.au
    description: Production status site (public, no authentication)
tags:
  - name: Status
    description: Current operational state of UQ systems.
  - name: Issues
    description: Incident records, open and resolved.
paths:
  /index.json:
    get:
      tags: [Status]
      operationId: getStatusIndex
      summary: Current status of every UQ system
      description: >-
        Returns the whole status board as one document — a summary status, the category list, and one
        entry per monitored system with its current state and any unresolved issues attached to it.
      responses:
        '200':
          description: Status board document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusIndex'
        '404':
          $ref: '#/components/responses/NotFound'
  /index.xml:
    get:
      tags: [Status]
      operationId: getStatusFeed
      summary: RSS 2.0 feed of status issues
      responses:
        '200':
          description: RSS 2.0 feed
          content:
            application/rss+xml:
              schema:
                type: string
        '404':
          $ref: '#/components/responses/NotFound'
  /index.svg:
    get:
      tags: [Status]
      operationId: getStatusBadge
      summary: Status badge as an SVG image
      responses:
        '200':
          description: SVG badge
          content:
            image/svg+xml:
              schema:
                type: string
        '404':
          $ref: '#/components/responses/NotFound'
  /issues/index.json:
    get:
      tags: [Issues]
      operationId: listIssues
      summary: List every published incident
      responses:
        '200':
          description: Issue list document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueList'
        '404':
          $ref: '#/components/responses/NotFound'
  /issues/{issueId}/index.json:
    get:
      tags: [Issues]
      operationId: getIssue
      summary: Retrieve one incident by its identifier
      parameters:
        - name: issueId
          in: path
          required: true
          description: Numeric incident identifier, as seen in an issue permalink.
          schema:
            type: string
            pattern: '^[0-9]+$'
          example: '19999'
      responses:
        '200':
          description: Issue document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: >-
        No such document. The site returns the HTML 404 page with an HTTP 404 status rather than a
        JSON error body — observed on 2026-08-30 for /issues.json and /history/index.json.
      content:
        text/html:
          schema:
            type: string
  schemas:
    StatusIndex:
      type: object
      title: StatusIndex
      required: [is, apiVersion, title, baseURL, summaryStatus, categories, systems]
      properties:
        is:
          type: string
          const: index
        cStateVersion:
          type: string
          description: Version of the underlying open-source status-page generator.
          example: '5.3'
        apiVersion:
          type: string
          example: '2.0'
        title:
          type: string
          example: UQ Status
        languageCode:
          type: string
          example: en
        languageCodeHTML:
          type: string
          example: en
        baseURL:
          type: string
          format: uri
          example: https://status.its.uq.edu.au
        description:
          type: string
        summaryStatus:
          $ref: '#/components/schemas/StatusValue'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        systems:
          type: array
          items:
            $ref: '#/components/schemas/System'
        buildDate:
          type: string
          format: date
          example: '2026-08-30'
        buildTime:
          type: string
          example: '21:00'
        buildTimezone:
          type: string
          example: UTC
        logo:
          type: string
          format: uri
    Category:
      type: object
      title: Category
      required: [name]
      properties:
        name:
          type: string
          example: Information Management
        description:
          type: string
        hideTitle:
          type: boolean
        closedByDefault:
          type: boolean
    System:
      type: object
      title: System
      required: [name, category, status, unresolvedIssues]
      properties:
        name:
          type: string
          example: AARNet DDoS Protection
        category:
          type: string
          example: Information & Communication Technology Management
        status:
          $ref: '#/components/schemas/StatusValue'
        unresolvedIssues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
    IssueList:
      type: object
      title: IssueList
      required: [is, pages]
      properties:
        is:
          type: string
          const: issues
        title:
          type: string
        baseURL:
          type: string
          format: uri
        description:
          type: string
        pages:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
    Issue:
      type: object
      title: Issue
      required: [is, title, createdAt, permalink, severity, resolved]
      properties:
        is:
          type: string
          const: issue
        title:
          type: string
        createdAt:
          type: string
          description: 'Go time layout as emitted, e.g. 2026-08-12 04:07:00 +0000 UTC — not RFC 3339.'
          example: '2026-08-12 04:07:00 +0000 UTC'
        lastMod:
          type: string
        permalink:
          type: string
          format: uri
        severity:
          $ref: '#/components/schemas/StatusValue'
        resolved:
          type: boolean
        informational:
          type: boolean
        resolvedAt:
          type: string
          description: 'Literal string "<no value>" when the issue is unresolved.'
        affected:
          type: array
          items:
            type: string
        filename:
          type: string
    StatusValue:
      type: string
      title: StatusValue
      description: Operational state vocabulary used for both systems and issue severity.
      enum: [ok, disrupted, down, notice]
